<h1>Hello <%= current_user.email %></h1>


<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>Your Orders</th>
        </tr>
    </thead>

    <tbody>  
        <tr>
            <td><%= current_user.email %></td>
            <% current_user.orders.each do |o| %>
                <td>Price: <%= o.subtotal %><br>
                Address: <%= o.address %><br>
                Currency: <%= o.currency %><br>
                Zip Code: <%= o.zip_code %><br>
                <%= link_to 'Order', order_path(o) %><br>
                </td>
            <% end %>
        </tr>
    </tbody>
</table>

<br>