<h1>All Products</h1>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Product Code</th>
            <th>Description</th>
            <th>Specification</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        <% @products.each do |product| %>
            <tr>
                <td><%=  product.name %></td>
                <td><%=  product.product_code %></td>
                <td><%=  product.description %></td>
                <td><%=  product.specs %></td>
                <td>
                    <%= form_for(@order_item) do |item| %>
                        <%= item.hidden_field :product_id, value: product.id %>
                        <%=  product.price %>
                        <% if user_signed_in? %>
                            <%= item.text_field :quantity, value: 1, min: 1, class: 'form-control' %>
                            <%= item.submit "Add to cart", class: 'btn btn-primary btn-sm' %>
                        <% end %>
                    <% end %>
                </td>
                <td><%= link_to 'Show', product %></td>
            </tr>
        <%end%>
    </tbody>
</table>

<br>