<h1>New Product</h1>

<%= simple_form_for(@product) do |a| %>
  <%= a.input :name, label: "Name" %>
  <%= a.input :description, label: "Description" %>
  <%= a.input :specs, label: "Specifications" %>
  <%= a.input :price_cents, label: "Price" %>
  <%= a.button :submit, class: "btn btn-primary" %>
  <%= link_to 'Natrag', products_path %>
<% end %>