<h1>Product Number <%= @product.id %></h1>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Product Code</th>
            <th>Description</th>
            <th>Specification</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td><%=  @product.name %></td>
                <td><%=  @product.product_code %></td>
                <td><%=  @product.description %></td>
                <td><%=  @product.specs %></td>
                <td>
                    <%= form_for(@order_item) do |item| %>
                        <%= item.hidden_field :product_id, value: @product.id %>
                        <%=  @product.price_cents %>
                        <%= item.text_field :quantity, value: 1, min: 1, class: 'form-control' %>
                        <%= item.submit "Add to cart", class: 'btn btn-primary btn-sm' %>
                    <% end %>
                </td>

                <% if user_signed_in? %>
                  <%= link_to 'Edit', edit_product_path %>
                  <%= link_to 'Destroy', product_path, method: :delete, data: {confirm: "Are you sure?"} %>
                <% end %>
            
            </tr>
    </tbody>
</table>

<br>