<h1>Product Number <%= @product.id %></h1>


<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Product Code</th>
            <th>Description</th>
            <th>Specification</th>
            <th>Price</th>
            <th>Currency</th>
        </tr>
    </thead>

    <tbody>
            <tr>
                <td><%=  @product.name %></td>
                <td><%=  @product.product_code %></td>
                <td><%=  @product.description %></td>
                <td><%=  @product.specs %></td>
                <td>
                    <%= render partial: "shared/add_to_cart_show" %>
                </td>
                <td><%=  @product.currency %></td>

            </tr>
    </tbody>
</table>

<br>